.chefs-navbar {
	display: flex;
	flex-direction: row;
	padding: 35px 10px;
	gap: 25px;
	justify-content: center;
}

.chefs-navbar button {
	border: 0;
	background-color: transparent;
}

.chefs-navbar .filter-on {
	font-weight: 600;
	border-bottom: 3px solid #f5be00;
}
.chefs-navbar .filter-off {
	font-weight: 200;
}
