.popular-dish #popular-dish-cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 20px;
}

.dish-cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	padding-bottom: 15px;
}

.popular-dish-heading {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 22px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
}

/* width */
::-webkit-scrollbar {
	width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: transparent;
}

@media only screen and (max-width: 690px) {
	.popular-dish .dish-cards {
		overflow: scroll;
		padding-left: 70%;
	}
	.popular-dish .dish-cards hr {
		display: none;
	}
	.popular-dish .price .price-value {
		padding: 5%;
		font-weight: 600;
	}
}
