.chefs-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	gap: 10px;
	width: 95vw;
	padding: 0 5% 0 3%;
	overflow-x: hidden;
}

.chefs-container img {
	width: 200px;
}

.add-chef {
	position: absolute;
	top: 105px;
	left: 25px;
	border-radius: 3px;
	font-family: "Helvetica Neue light";
	border: 0;
	background-color: #ad6060b5;
	color: white;
	font-size: 9px;
	line-height: 20px;
	letter-spacing: 1.65px;
	text-transform: uppercase;
	height: 30px;
}

@media only screen and (max-width: 640px) {
	.chefs-container {
		padding: 0;
		grid-template-columns: repeat(1, 1fr);
		overflow: scroll;
	}
	.add-chef {
		top: 100px;
		right: 9px;
		left: auto;
	}
}
