.my-modal {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.modal-content {
	font-family: "Helvetica Neue Thin";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 440px;
	background-color: #f9f4ea;
	height: 90vh;
	overflow: scroll;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	gap: 15px;
}

.add-dish-modal-heading {
	font-family: "Helvetica Neue Light";
	letter-spacing: 2.67px;
	font-size: 1.25rem;
	text-align: center;
	padding: 10px 5px 6px 5px;
}

.heading {
	text-align: center;
	border-bottom: 1px solid #f5be00;
}

.dish {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.close-button {
	cursor: pointer;
	position: absolute;
	background-color: transparent;
	border: 0;
	font-size: 40px;
	color: white;
	left: 20%;
	top: -1%;
}
.close-button:hover {
	color: gray;
}

.add-dish-toDb {
	border-radius: 3px;
	font-family: "Helvetica Neue light";
	border: 0;
	background-color: #ad6060b5;
	color: white;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 1.65px;
	text-transform: uppercase;
	height: 30px;
}

@media only screen and (max-width: 640px) {
	.my-modal {
		background-color: #f9f4ea;
	}
	.close-button {
		color: black;
		top: 0;
		left: 0;
		font-size: 30px;
	}
}
